.bg-gray {
  background-color: #727272;
}

.bg-dark-gray {
  background-color: #363636;
}

.bg-light-gray {
  background-color: #B3B1B1;
  color: white;
}

.bg-red {
  background-color: #B7292D;
  color: white;
}

.bg-black {
  background-color: #0E0B0B;
  color: white;
}

.bg-gray-2 {
  background-color: #E8DDDD;
}

.bg-gray-3 {
  background-color: #FFFBFD;
}

.bg-gray-4 {
  background-color: #ADA5A5;
}

body {
  background-color: #F4F3F6;
  min-height: 100vh;
}

#logo {
  max-height: 75px;
}

.search-box {
  background-color: #F4F3F6;
  border: none;
  font-size: 20px;
  padding: 0.5rem 0.5rem;
  margin-top: 0.25rem;
  border-radius: unset;
}
.search-box:focus {
  outline: none;
}

.search-btn {
  width: 75px;
  background-color: #FFCF73;
  border: none;
  aspect-ratio: 1/1;
}

.pointer {
  cursor: pointer;
}

.auth-body {
  min-height: 80vh;
}

.auth-btn {
  background-color: #FFCF73;
  color: white;
  border-radius: unset;
  font-size: 20px;
  border: none;
}
.auth-btn:hover:not(:disabled) {
  background-color: #ffdcaa;
}
.auth-btn:active {
  background-color: #FFCF73;
}
.auth-btn:disabled {
  background-color: #ffe1aa;
  cursor: not-allowed;
}

.blue-link {
  color: #56C2FF;
  text-decoration: none;
}

.image-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image-box img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.pop-up {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload {
  width: 100px;
  height: 100px;
  position: relative;
}
.image-upload img {
  max-width: 100%;
  max-height: 100%;
}

.hover-image-upload:hover::before {
  content: url("../icon/edit.svg");
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(45, 45, 45, 0.26);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-img {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
}
.slide img {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .slide img {
    max-width: unset;
    width: 100%;
  }
}

.home-card {
  background-color: #B3B1B1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 48%;
  margin: 0 1%;
}
@media only screen and (min-width: 768px) {
  .home-card {
    width: 19%;
    margin: 0 0.5%;
  }
}
.home-card .image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-card img {
  max-width: 100%;
  max-height: 100%;
}

.product-card {
  background-color: #B3B1B1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 48%;
  margin: 0 1%;
}
@media only screen and (min-width: 768px) {
  .product-card {
    width: 23%;
  }
}
@media only screen and (min-width: 1024px) {
  .product-card {
    width: 23%;
  }
}
@media only screen and (min-width: 1440px) {
  .product-card {
    width: 19%;
    margin: 0 0.5%;
  }
}
.product-card .image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card img {
  max-width: 100%;
  max-height: 100%;
}

pre {
  font-family: Arial;
  padding: 0;
  margin: 0;
  white-space: break-spaces;
  overflow-x: clip;
}

.chat-box {
  height: 80vh;
}

.chat-image-box {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.chat-image-box img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

#chat-room {
  overflow-y: scroll;
}
#chat-room::-webkit-scrollbar {
  display: none;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

#chat-history {
  overflow-y: scroll;
  height: 65vh;
}
#chat-history::-webkit-scrollbar {
  width: 5px;
}

.chat-history-image-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.chat-history-image-box img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.chat-input-area {
  bottom: 0;
  position: absolute;
}

.payment-method:hover {
  background-color: #F4F3F6;
}

/*# sourceMappingURL=style.css.map */
